body {
    margin: 0;
    font-family: Arial;
    background: #f9f6f6;
}
.post-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px) );
    justify-content: center;
    grid-gap: 28px;
    margin: 1em;
}
.post {
    cursor: pointer;
    position: relative;
    display: block;
}
.post-image {
    margin: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.post-image img {
    width: inherit;
    vertical-align: top;
    height: inherit;
    object-fit: inherit;
}
.post-overlay {
    background: rgba(0,0,0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center
}
.post:hover .post-overlay {
    display: flex;
}
/* .post-likes,
.post-comments {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
} */
@media screen and (max-width: 768px) {
    .post-list {
        grid-gap: 3px; 
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Squada One', cursive;
}

.container {
    height: 100%;
    width: 100%;
    padding: 0 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil {
    background: white;
    height: 3em;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure-img {
    margin: 0;
    padding: 0;
    height: 293px;
    width: 439px;
    border-radius: 50%;
}

.figure-img img {
    margin: 0;
    padding: 0;
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

iframe {
    width: 100%;
    margin: 0;
    padding: 0;
}
