body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.menu {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-content: center;
    margin-top: 1.5em; 
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.menu ol {
    list-style: none;
    padding: 0;
}

.link {
    color: #c1482e;
    text-decoration: none;
}

section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/hero.jpeg");
}

.hero-figure {
    margin: 0;
    padding: 0;
    width: 100vw;
    position: relative;
}

.hero-figure img {
    width: 100%;
}

.div-hero-text {
    display: grid;
    position: fixed;
}

.hero-text1 {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    color: black;
    font-size: 2em;
    text-align: center;
}

.hero-text2 {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    color: #c1482e;
    font-size: 4em;
}

.sobre_mi {
    display: flex;
    align-items: center;
    background-image: url("../images/sobre_mi.jpeg");
}

.item {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(1, 0, 0, .5);
    align-items: center;
    border-radius: 5px;
    height: 12em;
    width: 30em;
    margin: 10em;
    padding: 1em;
}

.me-text {
    margin: 0;
    color: orange;
    font-size: 3em;
}

.me-description {
    color: white;
}

.retrato {
    background-image: url("../images/retrato.jpeg");
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
