body {
    margin: 0;
    font-family: Arial;
    background: #f9f6f6;
}
#post-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px) );
    justify-content: center;
    grid-gap: 28px;
    margin: 1em;
}
.post {
    cursor: pointer;
    position: relative;
    display: block;
}
.post-image {
    margin: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.post-image img {
    width: inherit;
    vertical-align: top;
    height: inherit;
    object-fit: inherit;
}
.post-overlay {
    background: rgba(0,0,0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center
}
.post:hover .post-overlay {
    display: flex;
}

@media screen and (max-width: 768px) {
    .post-list {
        grid-gap: 3px; 
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Squada One', cursive;
}

button {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 12%;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.container {
    height: 100%;
    max-width: 50%;
    padding: 0 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button-next {
    margin-left: 1.5em;
}

.perfil {
    background: #00000029;
    height: 3em;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure-img {
    margin: 0;
    padding: 0;
    height: 293px;
    width: 439px;
    border-radius: 50%;
}

.figure-img img {
    margin: 0;
    padding: 0;
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

footer {
    height: 4em;
}

@media screen and (max-width: 425px) {
    #post-list {
        grid-template-columns: repeat(2, minmax(100px, 293px) );
        grid-gap: 3px;
        margin: 3px;
    }
    .container {
        padding: 0 2em;
    }
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 35%;
        padding: 0 1em;
    }
}